body {
  background: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/023/339/original/speckle-background-edit.png?1640070762");
}

h1 {
  color: #3b3c40;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 26px;
  margin-left: 15px;
  padding-top: 20px;
}

ul {
  margin: 20px 0 20px 0;
  padding: 0;
}

li {
  color: #fff;
  text-transform: capitalize;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  margin: 7px;
  padding: 7px;
}

li#date-time {
  color: #3b3c40;
}

li.description {
  font-size: 27px;
}

#icon {
  width: 100px;
  height: 100px;
  margin: 6px 20px 30px 20px;
}

.details {
  padding-left: 50px;
  margin: 30px 0px 20px 0px;
}

.weather-app {
  border: 1px solid #f7b9a1;
  box-shadow: 10px 10px 5px -4px rgba(247, 185, 161, 0.64);
  padding: 30px 30px 50px 30px;
  max-width: 600px;
  margin: 50px auto 25px auto;
  border-radius: 10px;
  background: #b3b5ff;
}

.temperature {
  color: #fff;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.units {
  position: relative;
  top: -28px;
  left: 5px;
  font-family: "Kumbh Sans", sans-serif;
  color: #bf165d;
}

.wind-unit {
  text-transform: lowercase;
}

.weather-app .active {
  color: #000;
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}

.search-form {
  margin-bottom: 20px;
}

#city-input.form-control {
  box-shadow: 3px 9px 10px -5px rgba(84, 77, 77, 0.75);
}

.btn-primary {
  color: #fff;
  background-color: #840572;
  border-color: #840572;
  transition: all 200ms ease-in-out;
}

.btn-primary:hover {
  background: #fff;
  color: #3b3c40;
  border: 1px solid #3b3c40;
}

.btn-primary:focus {
  background-color: #840572;
  color: #fff;
  border: 1px solid #840572;
  outline: 0;
  box-shadow: none;
}

.btn-success {
  color: #fff;
  background-color: #bf165d;
  border-color: #bf165d;
  transition: all 200ms ease-in-out;
  padding: 6px 15px 6px 15px;
}

.btn-success:hover {
  background: #fff;
  color: #291b25;
  border: 1px solid #291b25;
}

.btn-success:focus {
  background: #bf165d;
  color: #fff;
  border: 1px solid #bf165d;
  outline: 0;
  box-shadow: none;
}

.card {
  margin: 50px 0 0 0;
  padding-top: 20px;
  background: #b3b5ff;
  font-family: "Kumbh Sans", sans-serif;
  text-align: center;
  border: 1px solid #ffefec;
  box-shadow: 10px 10px 5px 0px rgba(84, 77, 77, 0.75);
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.week-day {
  font-weight: bold;
}

.card-img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0px auto;
}

.card-body {
  margin: 0 auto;
}

.week-day {
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.condition {
  text-align: center;
  margin: 18px 5px 10px 5px;
  font-weight: bold;
}

.forecast-min {
  color: #bf165d;
  opacity: 0.5;
}

.footer {
  margin: 7px auto 45px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  text-align: center;
}

#description {
  font-weight: 600;
  margin: 20px 10px 10px 10px;
  font-size: 30px;
}
