h1 {
  color: #000;
  font-family: monospace;
  font-size: 30px;
  font-weight: 400;
  line-height: 26px;
  margin: 0px 8px 10px;
}

ul {
  margin: 20px 0 20px 0;
  padding: 0;
}
li {
  color: #000;
  text-transform: capitalize;
  font-family: monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  list-style: none;
  margin: 10px;
}

img {
  width: 90px;
  height: 90px;
  margin: 15px 0px 0px 30px;
}

.details {
  padding-left: 50px;
  margin: 15px 0px 20px 0px;
}

.weather-app {
  border: 1px solid #000;
  padding: 20px;
  max-width: 600px;
  margin: 50px auto 25px auto;
  border-radius: 10px;
}

.temperature {
  color: #000;
  font-family: monospace;
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

.units {
  position: relative;
  top: -28px;
  left: 5px;
}

.weather-app .active {
  color: #000;
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}

.search-form {
  margin-bottom: 20px;
}

.btn-warning {
  padding-left: 5px;
}

.card {
  margin: 30px 0 0 0;
}

.card-img {
  width: 30px;
  height: 30px;
  display: block;
  margin: 5px auto;
}

.card-body {
  margin: 0 auto;
}

.card-title {
  margin: 0 auto;
  text-align: center;
}

.card-text {
  text-align: center;
  margin: 5px;
}

.footer {
  margin: 7px auto;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
}

#description {
  font-weight: 600;
  margin: 30px 10px 10px 115px;
  font-size: 30px;
}
